@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <h3 class="text-center">Random PassCode (PassCode #@ViewBag.Count)</h3>
    <div class="border border-2">
        @ViewBag.RandPass
    </div>
    <a asp-action="Click"><button>Click!</button></a>
</div>
